body, html {
    overflow-x: hidden;
}

article p img {
  display: block;
  margin-top: 0.5rem;
}

article hgroup h3 {
    margin-left: 60px;
}

article hgroup footer {
    margin-left: 60px;
}

.avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border: 3px solid var(--h1);
  border-radius: 50%;
  -webkit-border-radius: 60px;;
  -moz-border-radius: 60px;
}

.invisible {
    visibility:hidden;
    width:0;
    height:0;
}
.invisible.width-none{
  width: 0px !important;
}

.mobile-menu a {
  display: inline-block;
  margin: -1rem -1rem 0 1rem;
}

.badge {
  background-color: #c11010;
  color: white;
  border-radius: 100px;
  padding: 0px 4px;
  font-size: 9px;
  margin-left: -3px;
  position: absolute;
}

.nav {
    z-index: 1050;
}
nav.toolbar-nav ul{
  margin-left: 0px;
  margin-right: 0px;
}
.toolbar-form-button {
  width: 40px;
}

audio {
  display: block;
  filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
  width: 240px;
  height: 25px;
  margin-top: 0.5rem;
}

/* 480p */
video {
  object-fit: contain;
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  background: #000;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
  margin-top: 0.5rem;
}

#imageUploadForm {
    display: inline;
}

#imageUploadForm label {
    display: inline;
}

#uploadImage {
    margin: 0;
    padding: 0;
}

#audioUploadForm {
    display: inline;
}

#audioUploadForm label {
    display: inline;
}

#uploadAudio {
    margin: 0;
    padding: 0;
}

#videoUploadForm {
    display: inline;
}

#videoUploadForm label {
    display: inline;
}

#uploadVideo {
    margin: 0;
    padding: 0;
}

#uploadImageButton, #uploadAudioButton, #uploadVideoButton{
  color: var(--primary);
}

.textarea-container {
  position: relative;
}

#text {
  resize: none;
}

.users-list {
  border-radius: 10px;
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 1040;
  background-color: var(--background);
  box-shadow: 0 0 2px var(--text);
}

.users-list.show {
  display: block;
}

.user-list__user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 350px;
  transition: all ease-in-out .2s;
}

.user-list__user:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.user-list__user:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.user-list__user.selected {
  cursor: pointer;
  background-color: var(--input-border);
}

.mentioned-list-content {
  max-height: 180px;
  overflow: auto;
  cursor: pointer;
  width: 100%;
  width: calc(100% + 2px);
}

.user-list__user .avatar {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  margin-right: 15px;
  border-radius: 50%;
  background-size: cover;
  pointer-events: none;
}

.user-list__user .info {
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.user-list__user .info .name {
  color: var(--text);
  margin-bottom: 5px;
  font-size: 14px;
  pointer-events: none;
}

.user-list__user .info .nickname {
  color: var(--text);
  font-size: 14px;
  pointer-events: none;
}

.user-list__user .nickname {
  font-size: 16px;
  font-weight: bold;
  color: var(--text);
  pointer-events: none;
}

.mentioned-list-content::-webkit-scrollbar  {
  width: 2px;
}

.mentioned-list-content::-webkit-scrollbar-thumb {
  color: #ccc;
}

.captchaInput {
  width: 50% !important;
}

/* Fix spacing for Post/Publish button and icons */
.icss-print, .icss-paper-plane {
  margin-right:20px !important;
}

/* Timeline styline */
.u-author {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.p-name {
  left: 0px !important;
  font-size: 34px;
  color: #1095c1;
}
.p-org {
  left: 0px !important;
  font-size: 26px;
  font-weight: 100;
  color: var(--muted-text);
  margin-top: 18px;
  white-space: nowrap;
}

.author {
  margin-left: 10px !important;
}

.publish-time {
  display: flex;
  flex-direction: row;
}
[data-tooltip]:not(a):not(button):not(input){
  border-bottom: none;
}

#cookie-law{
  background-color: rgb(50, 50, 50) !important;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
#cookie-law p{
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  background-color: rgb(50, 50, 50)  !important;
  margin-bottom: 0px;
}
#cookie-law p a[role=button]{
  margin: 10px 0px 0px 10px;
  padding: 5px 15px;
  font-size: 13px;
  color: #dcdcdc !important;
  border-color: 1px solid var(--primary) !important; 
  border-radius: 0.25rem !important;
}

/* Video Summary Content Styling */
article .p-summary p video,
article .p-summary p img{
  width: auto;
  height: auto;
}

/* Blockquotes */
article .p-summary blockquote {
  border-left: 5px solid var(--primary) !important;
  margin: 1.5em 10px;
  padding: 10px 10px 10px 25px;
  font-style: italic;
  position: relative;
}

/* Footer Style */
footer{
  border-top: 1px solid var(--primary);
  background-color: rgba(234, 232, 232, 0.1);
}
footer small{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
footer small .footer-menu{
  display: flex;
  flex-direction: row;
}
footer small .footer-menu a{
  margin-right: 10px;
  padding-right: 10px;
  position: relative;
}
footer small .footer-menu a::after{
  content: '';
  height: 12px;
  width: 1px;
  background-color: #929292;
  position: absolute;
  right: 0px;
  bottom: 4px;
}
footer small .footer-menu a:last-child{
  border: none;
  padding-right: 0px;
  margin-right: 0px;
}
footer small .footer-menu a:last-child::after{
  content: none;
}

/* Toolbar styling */
@media (max-width: 576px) {
  .toolbar-nav li {
    padding: 1rem .2rem;
  }
  nav{
    justify-content: unset;
    -webkit-justify-content: unset;
    -moz-justify-content: unset;
    -ms-justify-content: unset;
  }
  nav.toolbar-nav ul{
    margin-right: 0px;
    margin-left: 0px;
    display: flex;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    width: 100%;
  }
  nav.toolbar-nav ul li{
    padding: 0.5rem 0px;
    flex: 1;
    -webkit-flex: 0 1 100%;
    -moz-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    text-align: center;
  }
  [data-tooltip]:not(a):not(button):not(input){
    border-bottom: none;
  }
  #cookie-law p a[role=button]{
    display: block;
    width: 20%;
    margin: 10px auto 0px;
    padding: 5px;
  }

  /* Name off timeline author */
  .u-author.h-card{
    display: inline;
    margin-bottom: 10px;
  }
  .u-author.h-card>div{
    flex: 20%;
    min-width: 60px;
    min-height: 60px;
  }
  .u-author.h-card>div a{
    display: block;
  }
  .u-author.h-card>div img.avatar{
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
  .u-author.h-card .author{
    flex: 80%;
  }
  .u-author.h-card .author .p-name{
    font-size: 20px;
    line-height: 25px;
    overflow-wrap: anywhere;
  }
  .u-author.h-card .author .p-org{
    font-size: 20px;
    line-height: 25px;
    white-space: nowrap;
    overflow-wrap: anywhere;
  }
  .u-author.h-card .publish-time{
    font-size: 14px;
  }
  nav.pagination-nav{
    justify-content: space-between;
  }
  /* Footer Style */
  footer small{
    text-align: center;
    flex-direction: column-reverse;
  }
  footer small .footer-copyright{
    margin-top: 10px;
  }
  footer small .footer-menu{
    justify-content: center;
  }
}
