*~
*.db
*.bak
.DS_Store
*.idea
.vscode

/dist

/twt
/twtd

/cmd/twt/twt
/cmd/twtd/twtd

/data/cache
/data/blogscache
/data/feedsources
/data/settings.yaml

/data/feeds/*
/data/blogs/*
/data/media/*
/data/archive/*
/data/avatars/*
/data/external/*

/internal/rice-box.go
