{{ define "post" }}
  {{ if .Authenticated }}
    <nav>
      <ul>
        <li><a id="bBtn" href="#" data-tooltip="Bold"><i class="icss-text-bold"></i></a></li>
        <li><a id="iBtn" href="#" data-tooltip="Italic"><i class="icss-text-italic"></i></a></li>
        <li><a id="cBtn" href="#" data-tooltip="Code"><i class="icss-text-width"></i></a></li>
        <li><a id="sBtn" href="#" data-tooltip="Strikethrough"><i class="icss-x"></i></a></li>
        <li>&nbsp;</li>
        <li><a id="usrBtn" href="#" data-tooltip="Mention"><i class="icss-user-circle"></i></a></li>
        <li><a id="lnkBtn" href="#" data-tooltip="Link"><i class="icss-link"></i></a></li>
        <li><a id="imgBtn" href="#" data-tooltip="Image"><i class="icss-image"></i></a></li>
        <li>
          <form id="uploadForm" action="/upload" enctype="multipart/form-data" method="POST" data-tooltip="Upload">
            <label for="uploadMedia">
              <i id="uploadMediaButton" class="icss-camera"></i>
            </label>
            <input id="uploadMedia" class="invisible" type="file" accept="image/png, image/jpeg" name="media_file" />
          </form>
        </li>
      </ul>
    </nav>
    <form id="twtForm" action="/post" method="POST">
      <input type="hidden" id="replaceTwt" name="hash" value="" />
      <div class="textarea-container">
        <textarea id="text" name="text" placeholder="{{ .TwtPrompt }}" rows=3 maxlength={{ .MaxTwtLength }} wrap="soft" autofocus required></textarea>
          <div id="mentioned-list" class="users-list">
            <div id="mentioned-list-content" class="mentioned-list-content">
            </div>
          </div>
      </div>
      <div class="grid">
        <div>
          <select id="postas" class="postas" name="postas">
            <option value="{{ .User.Username }}" selected>Post as {{ .User.Username }}</option>
            {{ range $index, $Feed := .User.Feeds }}
              <option value="{{ $Feed }}">{{ $Feed }}</option>
            {{ end }}
          </select>
        </div>
        <div>
          <button id="post" type="submit">Post</button>
        </div>
      </div>
    </form>
  {{ end }}
{{ end }}

{{ define "posts" }}
  <div class="grid">
    <div>
      {{ template "pager" . }}
      
      {{ range .Twts }}
        <article id="{{ .Hash }}">
          <hgroup>
            <h2>
              {{ if $.User.Is .Twter.URL }}
                <a href="{{ $.User.URL | trimSuffix "/twtxt.txt" }}">
                  <img class="avatar" src="/user/{{ $.User.Username }}/avatar.png" />
                  me
                </a>
              {{ else }}
                {{ if $.IsLocal .Twter.URL }}
                  <a href="{{ .Twter.URL | trimSuffix "/twtxt.txt" }}">
                    <img class="avatar" src="/user/{{ .Twter.Nick }}/avatar.png" />
                {{ else }}
                  <a href="{{ .Twter.URL }}">
                    <i class="icss-rss" style="font-size:1.5em"></i>
                {{ end }}
                  {{ .Twter.Nick }}
                </a>
              {{ end }}
            </h2>
            {{ if $.Authenticated }}
              <h3>
                {{ if eq $.LastTwt.Hash .Hash }}
                  [<a class="edit" href="#" data-hash="{{ .Hash }}" data-text="{{ .Text }}">Edit</a>]
                  [<a class="delete" href="#" data-hash="{{ .Hash }}">Delete</a>]
                {{ end }}
                {{ if (not ($.User.Is .Twter.URL)) }}
                  {{ with $.Profile.Type }}
                  {{ else }}
                    [<a class="reply" href="#" data-reply="{{ $.User.Reply . }}">Reply</a>]
                  {{ end }}
                  {{ if $.User.Follows .Twter.URL }}
                    [<a href="/unfollow?nick={{ .Twter.Nick }}">Unfollow</a>]
                  {{ else }}
                    [<a href="/follow?nick={{ .Twter.Nick }}&url={{ .Twter.URL }}">Follow</a>]
                  {{ end }}
                {{ end }}
              </h3>
            {{ end }}
            <footer>(<a href="/twt/{{ .Hash }}">{{ .Created | time }}</a>)</footer>
          </hgroup>
          <p>{{ .Text | formatTwt }}</p>
        </article>
      {{ end }}
      {{ template "pager" . }}
    </div>
  </div>
{{ end }}

{{ define "pager" }}
  {{ if .Pager.HasPages }}
    <nav>
      <ul>
        <li>
          {{ if .Pager.HasPrev }}
            <a href="/?page={{ .Pager.PrevPage }}">Prev</a>
          {{ else }}
            <a href="#" data-tooltip="No previous page">Prev</a>
          {{ end}}
        </li>
      </ul>
      <ul>
        <li><small>Page {{ $.Pager.Page }}/{{ $.Pager.PageNums }} of {{ $.Pager.Nums }} Twts</small></li>
      </ul>
      <ul>
        <li>
          {{ if .Pager.HasNext }}
            <a href="/?page={{ .Pager.NextPage }}">Next</a>
          {{ else }}
            <a href="#" data-tooltip="No next page">Next</a>
          {{ end}}
        </li>
      </ul>
    </nav>
  {{ end }}
{{ end }}
