{{ define "post" }}
  {{ if .Authenticated }}
    <form id="tweetForm" action="/post" method="POST">
      <input type="hidden" id="replaceTweet" name="hash" value="" />
    </form>
    <form id="uploadForm" class="test" action="/upload" enctype="multipart/form-data" method="POST"></form>

    <div class="grid">
      <div>
        <div class="grid">
          <textarea form="tweetForm" id="text" name="text" placeholder="{{ .TweetPrompt }}" rows=3 maxlength={{ .MaxTweetLength }} wrap="soft" autofocus required></textarea>
        </div>
        <div class="grid">
          <div class="imageUpload">
            <label for="uploadMedia">
              <i class="icss-camera" style="font-size:3em"></i>
              <button form="uploadForm" id="uploadSubmit" class="invisible uploadSubmit floatRight" type="submit">Add</button>
            </label>
            <input form="uploadForm" id="uploadMedia" class="invisible" type="file" accept="image/png, image/jpeg" name="media_file" />
          </div>
          <div>
            <select id="postas" class="postas" name="postas" form="tweetForm">
              <option value="{{ .User.Username }}" selected>Post as {{ .User.Username }}</option>
              {{ range $index, $Feed := .User.Feeds }}
                <option value="{{ $Feed }}">{{ $Feed }}</option>
              {{ end }}
            </select>
          </div>
          <div>
            <button form="tweetForm" id="post" type="submit">Post</button>
          </div>
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}

{{ define "posts" }}
  <div class="grid">
    <div>
      {{ template "pager" . }}
      
      {{ range .Tweets }}
        <article id="{{ .Hash }}">
          <hgroup>
            <h2>
              {{ if $.User.Is .Tweeter.URL }}
                <a href="{{ $.User.URL | trimSuffix "/twtxt.txt" }}">
                  <img src="/user/{{ $.User.Username }}/avatar.png" />
                  me
                </a>
              {{ else }}
                {{ if $.IsLocal .Tweeter.URL }}
                  <a href="{{ .Tweeter.URL | trimSuffix "/twtxt.txt" }}">
                    <img src="/user/{{ .Tweeter.Nick }}/avatar.png" />
                {{ else }}
                  <a href="{{ .Tweeter.URL }}">
                    <i class="icss-rss" style="font-size:1.5em"></i>
                {{ end }}
                  {{ .Tweeter.Nick }}
                </a>
              {{ end }}
            </h2>
            {{ if $.Authenticated }}
              <h3>
                {{ if eq $.LastTweet.Hash .Hash }}
                  [<a class="edit" href="#" data-hash="{{ .Hash }}" data-text="{{ .Text }}">Edit</a>]
                  [<a class="delete" href="#" data-hash="{{ .Hash }}">Delete</a>]
                {{ end }}
                {{ if (not ($.User.Is .Tweeter.URL)) }}
                  {{ with $.Profile.Type }}
                  {{ else }}
                    [<a class="reply" href="#" data-reply="{{ $.User.Reply . }}">Reply</a>]
                  {{ end }}
                  {{ if $.User.Follows .Tweeter.URL }}
                    [<a href="/unfollow?nick={{ .Tweeter.Nick }}">Unfollow</a>]
                  {{ else }}
                    [<a href="/follow?nick={{ .Tweeter.Nick }}&url={{ .Tweeter.URL }}">Follow</a>]
                  {{ end }}
                {{ end }}
              </h3>
            {{ end }}
            <footer>(<a href="#{{ .Hash }}">{{ .Created | time }}</a>)</footer>
          </hgroup>
          <p>{{ .Text | formatTweet }}</p>
        </article>
      {{ end }}
      {{ template "pager" . }}
    </div>
  </div>
{{ end }}

{{ define "pager" }}
  {{ if .Pager.HasPages }}
    <nav>
      <ul>
        <li>
          {{ if .Pager.HasPrev }}
            <a href="/?page={{ .Pager.PrevPage }}">Prev</a>
          {{ else }}
            <a href="#" data-tooltip="No previous page">Prev</a>
          {{ end}}
        </li>
      </ul>
      <ul>
        <li><small>Page {{ $.Pager.Page }}/{{ $.Pager.PageNums }} of {{ $.Pager.Nums }} Twts</small></li>
      </ul>
      <ul>
        <li>
          {{ if .Pager.HasNext }}
            <a href="/?page={{ .Pager.NextPage }}">Next</a>
          {{ else }}
            <a href="#" data-tooltip="No next page">Next</a>
          {{ end}}
        </li>
      </ul>
    </nav>
  {{ end }}
{{ end }}
