{{define "base"}}
<!DOCTYPE html>
<html lang="en" {{ with .Theme }}data-theme="{{ . }}"{{ end }}>
  <head>
    {{ if $.Debug }}
      <link href="/css/01-pico.css" rel="stylesheet" />
      <link href="/css/02-icss.css" rel="stylesheet" />
      <link href="/css/03-icons.css" rel="stylesheet" />
      <link href="/css/99-twtxt.css" rel="stylesheet" />
      <link rel="icon" type="image/png" href="/img/favicon.png" />
    {{ else }}
      <link href="/css/{{ .Commit }}/twtxt.min.css" rel="stylesheet" />
      <link rel="icon" type="image/png" href="/img/{{ .Commit}}/favicon.png" />
    {{ end }}

    {{ range .Alternatives }}
      <link rel="alternate" type="{{ .Type }}" title="{{ .Title }}" href="{{ .URL }}" />
    {{ end }}

    {{ range .Links }}
      <link href="{{ .Href }}" rel="{{ .Rel }}" />
    {{ end }}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ .InstanceName }} {{ .Title }}</title>
    {{ with .Meta.Title }}<meta name="title" content="{{ . }}">{{ end }}
    {{ with .Meta.Author }}<meta name="author" content="{{ . }}">{{ end }}
    {{ with .Meta.Keywords }}<meta name="keywords" content="{{ . }}">{{ end }}
    {{ with .Meta.Description }}<meta name="description" content="{{ . }}">{{ end }}

    <!-- OpenGraph Meta Tags -->
    {{ with .Meta.Title }}<meta property="og:title" content="{{ . }}">{{ end  }}
    {{ with .Meta.Description }}<meta property="og:description" content="{{ . }}">{{ end  }}
    {{ with .Meta.UpdatedAt }}<meta property="og:updated_time" content="{{ . }}" />{{ end  }}
    {{ with .Meta.Image }}<meta property="og:image" content="{{ . }}">{{ end  }}
    {{ with .Meta.URL }}<meta property="og:url" content="{{ . }}">{{ end  }}
    <meta property="og:site_name" content="{{ .InstanceName }}">
  </head>
<body>
  <nav id="mainNav" class="container-fluid">
    <ul>
      <li class="mobile-menu">
        {{ if .Authenticated }}
          <a id="messagesMenu" href="/messages">
            <i class="icss-mail-box"></i>
            {{ if gt $.NewMessages  0 }}
              <span class="badge">{{ $.NewMessages }}</span>
            {{ end }}
          </a>
        {{ end }}
        <a id="burgerMenu" href="javascript:void(0);">
          <i class="icss-bars"></i>
        </a>
      </li>
      <li class="logo">
        <a href="/" class="contrast">
          <img class="logo" src="/pod/logo" />
        </a>
      </li>
      {{ if .Authenticated }}
        <li>
          <a href="/">
            <i class="icss-chat"></i>
            Timeline
          </a>
        </li>
        <li>
          <a href="/discover">
            <i class="icss-users"></i>
            Discover
          </a>
        </li>
        <li>
          <a href="/mentions">
            <i class="icss-smiley"></i>
            Mentions
          </a>
        </li>
        <li>
          <a href="/feeds">
            <i class="icss-rss"></i>
            Feeds
          </a>
        </li>
      {{ end }}
    </ul>
    <ul>
      {{ if .Authenticated }}
        <li>
          <a href="/messages">
            {{ if gt $.NewMessages 0 }}
              <i class="icss-mail-box-in"></i>
            {{ else }}
              <i class="icss-mail-box"></i>
            {{ end }}
            Messages
          </a>
        </li>
        <li>
          <a href="/follow">
            <i class="icss-plus"></i>
            Follow
          </a>
        </li>
        <li>
          <a class="secondary" href="/settings">
            <i class="icss-gear"></i>
            Settings
          </a>
        </li>
        <li>
          <a class="secondary" href="/logout">
            <i class="icss-exit"></i>
            Logout
          </a>
        </li>
      {{ else }}
        <li>
          <a href="/login">
            <i class="icss-key"></i>
            Login
          </a>
        </li>
        {{ if .RegisterDisabled }}
          <li>
            <a href="#" data-tooltip="{{ with .RegisterDisabledMessage }}{{ .RegisterDisabledMessage }}{{ else }}Registrations are disabled on this instance. Please contact the operator.{{ end }}">
              <i class="icss-exclamation-circle" style="color:red;"></i>
              Register
            </a>
          </li>
        {{ else }}
          <li>
            <a href="/register">
              <i class="icss-smiley"></i>
              Register
            </a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </nav>
  <main class="container">
    {{template "content" . }}
  </main>
  <footer class="container">
    <div class="footer-copyright"><a href="https://github.com/jointwt/twtxt" target="_blank">twtxt v{{ .SoftwareVersion }}</a>
        ·
        Created with 💚 by <a href="https://github.com/prologic" target="_blank">James Mills</a>
        ·
        &copy; 2020 <a href="https://github.com/prologic" target="_blank">James Mills</a>. All rights reserved.
    </div>
    <div class="footer-menu">
      <a href="/about" target="_blank" class="menu-item">About</a>
      <a href="/privacy" target="_blank" class="menu-item">Privacy</a>
      <a href="/abuse" target="_blank" class="menu-item">Abuse</a>
      <a href="/help" target="_blank" class="menu-item">Help</a>
      <a href="/support" target="_blank" class="menu-item">Support</a>
      <a href="/atom.xml" target="_blank">Atom&nbsp;<i class="icss-rss"></i></a>
    </div>
  </footer>
  {{ if $.Debug }}
    <script type="application/javascript" src="/js/01-umbrella.js"></script>
    <script type="application/javascript" src="/js/02-polyfill.js"></script>
    <script type="application/javascript" src="/js/03-twix.js"></script>
    <script type="application/javascript" src="/js/99-twtxt.js"></script>
    <script type="application/javascript" src="/js/ie11CustomProperties.min.js"></script>
  {{ else }}
    <script type="application/javascript" src="/js/{{ .Commit }}/twtxt.min.js"></script>
  {{ end }}
</body>
</html>
{{end}}
