{{define "base"}}
<!DOCTYPE html>
<html lang="en" data-theme="{{ .Theme }}">
  <head>
    <link href="/css/{{ .Commit }}/pico.css" rel="stylesheet" />
    <link href="/css/{{ .Commit }}/icss.css" rel="stylesheet" />
    <link href="/css/{{ .Commit }}/icons.css" rel="stylesheet" />
    <link href="/css/{{ .Commit }}/theme-switcher.css" rel="stylesheet" />
    <link href="/css/{{ .Commit }}/twtxt.css" rel="stylesheet" />
    
    {{ range .Alternatives }}
      <link rel="alternate" type="{{ .Type }}" title="{{ .Title }}" href="{{ .URL }}" />
    {{ end }}
    
    {{ template "stylesheets" . }}
    <meta charset="UTF-8">
    <meta name="description" content="📕 twtxt is a Self-Hosted, Twitter™-like Decentralised microBlogging platform. No ads, no tracking, your content, your data!">
    <meta name="keywords" content="twtxt, twt, blog, micro-blogging, social, decentralised">
    <meta name="author" content="{{ .InstanceName }}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ template "css" . }}
    <title>twtxt :: {{ .InstanceName }}</title>
  </head>
<body>
  <nav id="mainNav" class="container-fluid">
    <ul>
      <li>
        <a id="burgerMenu" href="javascript:void(0);">
          <i class="icss-bars"></i>
        </a>
      </li>
      <li>
        <a href="/">
          <i class="icss-home"></i>
          twtxt
        </a>
      </li>
      {{ if .Authenticated }}
        <li>
          <a href="/discover">
            <i class="icss-users"></i>
            /discover
          </a>
        </li>
        <li>
          <a href="/mentions">
            <i class="icss-smiley"></i>
            /mentions
          </a>
        </li>
        <li>
          <a href="/feeds">
            <i class="icss-rss"></i>
            /feeds
          </a>
        </li>
      {{ end }}
    </ul>
    <ul>
      {{ if .Authenticated }}
        <li>
          <a href="/follow">
            <i class="icss-plus"></i>
            /follow
          </a>
        </li>
        <li>
          <a class="secondary" href="/settings">
            <i class="icss-gear"></i>
            /settings
          </a>
        </li>
        <li>
          <a class="secondary" href="/logout">
            <i class="icss-exit"></i>
            /logout
          </a>
        </li>
      {{ else }}
        <li>
          <a href="/login">
            <i class="icss-key"></i>
            /login
          </a>
        </li>
        {{ if .RegisterDisabled }}
          <li>
            <a href="#" data-tooltip="{{ with .RegisterDisabledMessage }}{{ .RegisterDisabledMessage }}{{ else }}Registrations are disabled on this instance. Please contact the operator.{{ end }}">
              <i class="icss-warning" style="color:red;"></i>
              /register
            </a>
          </li>
        {{ else }}
          <li>
            <a href="/register">
              <i class="icss-smiley"></i>
              /register
            </a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </nav>
  <main class="container">
    {{template "content" .}}
  </main>
  <footer>
    <div class="container">
      <small>
        <a href="https://github.com/prologic/twtxt">twtxt v{{ .SoftwareVersion }}</a>
        ·
        Created with 💚 by <a att href="https://github.com/prologic" target="_blank">James Mills</a>
        ·
        &copy; 2020 <a href="https://github.com/prologic">James Mills</a>. All rights reserved.
        ·
        <a href="/about">About</a> :: <a href="/privacy">Privacy Policy</a> :: <a href="/help">Help</a> :: <a href="/support">Support</a>
      </small>
    </div>
  </footer>
  <script type="application/javascript" src="/js/{{ .Commit }}/umbrella.min.js"></script>
  <script type="application/javascript" src="/js/{{ .Commit }}/twix.min.js"></script>
  <script type="application/javascript" src="/js/{{ .Commit }}/theme-switcher.js"></script>
  <script type="application/javascript" src="/js/{{ .Commit }}/twtxt.js"></script>
  {{ template "scripts" . }}
</body>
</html>
{{end}}
{{ define "css" }}{{ end }}
{{ define "scripts" }}{{ end }}
{{ define "stylesheets" }}{{ end }}

