{{define "base"}}
<!DOCTYPE html>
<html lang="en" data-theme="{{ .Theme }}">
  <head>
    <link href="/css/{{ .Commit }}/pico.css" rel="stylesheet" />
    <link href="/css/{{ .Commit }}/iconicss.min.css" rel="stylesheet" />
    <link href="/css/{{ .Commit }}/theme-switcher.css" rel="stylesheet" />
    <link href="/css/{{ .Commit }}/twtxt.css" rel="stylesheet" />
    {{ template "stylesheets" . }}
    <meta charset="UTF-8">
    <meta name="description" content="📕 twtxt is a Self-Hosted, Twitter™-like Decentralised microBlogging platform. No ads, no tracking, your content, your data!">
    <meta name="keywords" content="twtxt, twt, blog, micro-blogging, social, decentralised">
    <meta name="author" content="{{ .InstanceName }}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ template "css" . }}
    <title>twtxt :: {{ .InstanceName }}</title>
  </head>
<body>
  <div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        <a href="/"><i class="icss-home"></i>twtxt</a>
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>    
    <div class="nav-links">
      {{ if .Authenticated }}
        <a href="/discover">
          <i class="icss-users"></i>
          /discover
        </a>
        <a href="/mentions">
          <i class="icss-smiley"></i>
          /mentions
        </a>
        <a href="/feeds">
          <i class="icss-rss"></i>
          /feeds
        </a>
        <a href="/follow">
          <i class="icss-plus"></i>
          /follow
        </a>   
        <a class="secondary" href="/settings">
          <i class="icss-gear"></i>
          /settings
        </a>   
        <a class="secondary" href="/logout">
          <i class="icss-exit"></i>
          /logout
        </a>
      {{ else }}
        <a href="/login">
          <i class="icss-key"></i>
          /login
        </a>
        {{ if .RegisterDisabled }}
          <a href="#" data-tooltip="{{ with .RegisterDisabledMessage }}{{ .RegisterDisabledMessage }}{{ else }}Registrations are disabled on this instance. Please contact the operator.{{ end }}">
            <i class="icss-warning" style="color:red;"></i>
            /register
          </a>
        {{ else }}
          <a href="/register">
            <i class="icss-smiley"></i>
            /register
          </a>
        {{ end }}
      {{ end }}
    </div>
  </div>

  <main class="container">
    {{template "content" .}}
  </main>
  <footer>
    <div class="container">
      <small>
        <a href="https://github.com/prologic/twtxt">twtxt v{{ .SoftwareVersion }}</a>
        ·
        Created with 💚 by <a att href="https://github.com/prologic" target="_blank">James Mills</a>
        ·
        &copy; 2020 <a href="https://github.com/prologic">James Mills</a>. All rights reserved.
        ·
        <a href="/about">About</a> :: <a href="/privacy">Privacy Policy</a> :: <a href="/help">Help</a> :: <a href="/support">Support</a>
      </small>
    </div>
  </footer>
</body>
<script type="application/javascript" src="/js/{{ .Commit }}/umbrella.min.js"></script>
<script type="application/javascript" src="/js/{{ .Commit }}/twix.min.js"></script>
<script type="application/javascript" src="/js/{{ .Commit }}/serialize.min.js"></script>
<script type="application/javascript" src="/js/{{ .Commit }}/theme-switcher.js"></script>
<script type="application/javascript" src="/js/{{ .Commit }}/twtxt.js"></script>
{{ template "scripts" . }}
</html>
{{end}}
{{ define "css" }}{{ end }}
{{ define "scripts" }}{{ end }}
{{ define "stylesheets" }}{{ end }}
