{{define "content"}}
  <article class="contianer-fluid">
    {{ .Content }}
  </article>
  <div class="container">
    <hgroup>
      <h2>Comments:</h2>
      <footer>Recent tws in reply to this post.</footer>
    </hgroup>
    {{ template "feed" (dict "Authenticated" $.Authenticated "User" $.User "Profile" $.Profile "LastTwt" $.LastTwt "Pager" $.Pager "Twts" $.Twts) }}
    {{ if .Authenticated }}
      <hgroup>
        <h2>Have your say!</h2>
        <footer>Post your twt here and add to the discussion!</footer>
      </hgroup>
      {{ template "post" (dict "Authenticated" $.Authenticated "User" $.User "TwtPrompt" $.TwtPrompt "MaxTwtLength" $.MaxTwtLength "Reply" $.Reply "AutoFocus" false) }}
    {{ else }}
      <small>You must be <a href="/login">Logged in</a> to comment.</small>
    {{ end }}
  </div>
{{ end }}
