{{define "content"}}
  <article class="container-fluid">
    <hgroup>
      <h2>Editing <a href="{{ $.BlogPost.URL $.BaseURL }}">{{ $.BlogPost.Title }}</a></h2>
      <h3>You are editing your Twt Blog post entitled: {{ $.BlogPost.Title }} (<i>Note that you cannot however change it's title!</i>)</h3>
    </hgroup>
    {{ template "post" (dict "Authenticated" $.Authenticated "User" $.User "TwtPrompt" $.TwtPrompt "MaxTwtLength" $.MaxTwtLength "Reply" $.Reply "AutoFocus" true "BlogPost" $.BlogPost) }}
  </article>
{{ end }}
