{{define "content"}}
  <div class="grid">
    <div>
      <hgroup>
        <h2 class="u-author h-card">
          <a href="{{ .Profile.URL }}" class="u-url p-name">
            {{ if $.Twter.Avatar }}
              <img class="avatar u-photo" src="{{ $.Twter.Avatar }}" />
            {{ else }}
              <i class="icss-rss" style="font-size:1.75em"></i>
            {{ end }}
            <span class="p-name">{{ .Profile.Username }}</span>
          </a>
        </h2>
        <h3>
          {{ if $.User.Follows .Profile.TwtURL }}
            <a href="/unfollow?nick={{ .Profile.Username  }}">
            <i class="icss-minus"></i>
            Unfollow
            </a>
          {{ else }}
            <a href="/follow?nick={{ .Profile.Username  }}&url={{ .Profile.TwtURL }}">
            <i class="icss-plus"></i>
            Follow
            </a>
          {{ end }}
        </h3>
        <p><i>{{ .Profile.Tagline }}</i></p>
        <ul>
          <li><a href="{{ .Profile.TwtURL }}">Twtxt<i class="icss-link"></i></a></li>
        </ul>
      </hgroup>
    </div>
  </div>
  <div class="container">
    <hgroup>
      <h2>Recent Twts</h2>
      <h3>Recent twts from {{ .Profile.Username }}</h3>
    </hgroup>
  </div>
  {{ template "post" (dict "Authenticated" $.Authenticated "User" $.User "TwtPrompt" $.TwtPrompt "MaxTwtLength" $.MaxTwtLength "Reply" $.Reply "AutoFocus" true) }}
  {{ template "feed" (dict "Authenticated" $.Authenticated "User" $.User "Profile" $.Profile "LastTwt" $.LastTwt "Pager" $.Pager "Twts" $.Twts) }}
{{end}}
