{{define "content"}}
  <div class="grid">
    <div>
      <hgroup>
        <h2>
            <i class="icss-rss" style="font-size:1.5em"></i>
            {{ .Profile.Username }}
        </h2>
        <h3>
        {{ if $.User.Follows .Profile.URL }}
            <a href="/unfollow?nick={{ .Profile.Username  }}">
            <i class="icss-minus"></i>
            Unfollow
            </a>
        {{ else }}
            <a href="/follow?nick={{ .Profile.Username  }}&url={{ .Profile.URL }}">
            <i class="icss-plus"></i>
            Follow
            </a>
        {{ end }}
        </h3>
        <footer>
          <p><i>{{ .Profile.Tagline }}</i></p>
          <ul>
            <li><a href="{{ .Profile.URL }}">Twtxt<i class="icss-link"></i></a></li>
          </ul>
        </footer>
      </hgroup>
    </div>
  </div>
  <div class="container">
    <hgroup>
      <h2>Recent Twts</h2>
      <footer>Recent twts from {{ .Profile.Username }}</footer>
    </hgroup>
  </div>
  {{ template "feed" . }}
{{end}}
