{{define "content"}}
  <article class="grid">
    <div>
      <hgroup>
        <h2>Create Feed</h2>
        <h3>Here you can create your  own <sub>sub</sub>Feed</h3>
        <footer>
          <p>
          </p>
        </footer>
      </hgroup>
      <form action="/feed" method="POST">
        <input type="text" name="name" placeholder="Name of your feed" aria-label="Username" autofocus required />
        <button type="submit" class="primary">Create</button>
      </form>
    </div>
  </article>
  <article class="grid">
    <div>
      <hgroup>
        <h2>Local Feeds</h2>
        <h3>Here is a list of local (sub)Feeds available that you can subscribe to and follow.</h3>
        <footer>
          <p>
            These are feeds created by users on {{ .InstanceName }} that are
            effectively "special interest", "topic" or "group" whereby users
            that create sub feeds can post as <i>that</i> feed as a sort of
            "Persona".
          </p>
        </footer>
      </hgroup>
      <ul>
        {{ range .Feeds }}
          <li>
            <a href="{{ .URL | trimSuffix "/twtxt.txt" }}">{{ .Name }}</a>
            &nbsp;
            {{ if $.User.Follows .URL }}
              [<a href="/unfollow?nick={{ .Name  }}">Unfollow</a>]
            {{ else }}
              [<a href="/follow?nick={{ .Name  }}&url={{ .URL }}">Follow</a>]
            {{ end }}
          </li>
        {{ end }}
      </ul>
    </div>
  </article>
  <article class="grid">
    <div>
      <hgroup>
        <h2>External Feeds</h2>
        <h3>Here is a list of external feeds available that you can subscribe to and follow.</h3>
        <footer>
          <p>
            These sources of feeds are externally sourced and configured by the operator of {{ .InstanceName }}.
            By default <a href="https://twtxt.net">twtxt.net</a> sources feeds  from the following sources:
            <ul>
              <li><a href="https://feeds.twtxt.net">feeds.twtxt.net</a> an RSS/Atom to twtxt feed aggregator</li>
              <li><a href="https://raw.githubusercontent.com/mdom/we-are-twtxt/master/we-are-bots.txt">we-are-bots</a>a directory of twtxt bots (<i>automated feeds</i>)</li>
              <li><a href="https://raw.githubusercontent.com/mdom/we-are-twtxt/master/we-are-twtxt.txt">we-are-twtxt</a>a directory of twtxt users (<i>this is managed by users voluntarily adding themselves to this list</i>)</li>
            </ul>
          </p>
          <p>
            If you want to add a new external feed source:
            <ul>
              <li>First make sure it has a valid RSS or Atom feed.(<i><a href="https://en.wikipedia.org/wiki/Atom_(Web_standard)">What's this?</a></i>)</li>
              <li>Visit <a href="https://feeds.twtxt.net">feeds.twtxt.net</a> and give the feed a name and enter the RSS/Atom URL and hit Submit</li>
            </ul>
            In a few minutes the newly added external feed will show up in
            <a href="https://twtxt.net/feeds">/feeds</a> here on {{ .InstanceName }}.
          </p>
        </footer>
      </hgroup>
      {{ range $Source, $Feeds := .FeedSources }}
        <hgroup>
          <h3>{{ $Source | prettyURL }}</h3>
          <footer>External feeds from <a href="{{ $Source }}">{{ $Source }}</a></h3>
        </hgroup>
        <ul>
          {{ range $Feeds }}
            <li>
              <a href="{{ .URL }}">{{ .Name }}</a>
              &nbsp;
              {{ if $.User.Follows .URL }}
                [<a href="/unfollow?nick={{ .Name  }}">Unfollow</a>]
              {{ else }}
                [<a href="/follow?nick={{ .Name  }}&url={{ .URL }}">Follow</a>]
              {{ end }}
            </li>
          {{ end }}
        </ul>
      {{ end}}
    </div>
  </article>
{{end}}
