{{define "content"}}
  <article class="grid">
    <div>
      <hgroup>
        <h2>Following</h1>
        <footer>
          {{ if $.User.Is .Profile.URL }}
            List of users and feeds you are following
          {{ else }}
            List of users and feeds <b>{{ .Profile.Username }}</b> is following
          {{ end }}
        </footer>
      </hgroup>
      {{ if .Profile.Following }}
        <ol>
          {{ range $Nick, $URL := .Profile.Following }}
            <li>
              {{ if $.User.Is $Nick }}
                <a href="{{ $URL }}">me</a>
              {{ else }}
                <a href="{{ $URL | trimSuffix "/twtxt.txt" }}">{{ $Nick }}</a>
                (<a href="{{ $URL }}">{{ $URL }}</a>)
              {{ end }}
              <a href="/unfollow?nick={{ $Nick }}">
                <i class="icss-minus"></i>
              </a>
            </li>
          {{ end }}
        </oL>
      {{ else }}
        <small>
          {{ if $.User.Is .Profile.URL }}
            You are not following any users or feeds!
            <a href="/follow">Follow</a> someone or <a href="/discover">discover</a>
            new users or interesting <a href="/feeds">feeds</a> on {{ .InstanceName }}.
          {{ else }}
            <b>{{ .Profile.Username }}</b> is not following any users or feeds.</i>
          {{ end }}
        </small>
      {{ end }}
    </div>
  </article>
{{ end }}
