{{define "content"}}
  <article class="grid">
    <div>
      <hgroup>
        <h2>Followers</h2>
        <h3>
          {{ if $.User.Is .Profile.URL }}
            List of users following you
          {{ else }}
            List of users following <b>{{ .Profile.Username }}</b>
          {{ end }}
        </h3>
      </hgroup>
      {{ if .Profile.Followers }}
        <ol>
          {{ range $Nick, $URL := .Profile.Followers }}
            <li>
              {{ if $.User.Is $URL }}
                <a href="{{ $URL }}">me</a>
              {{ else }}
                {{ if isLocalURL $URL }}
                  <a href="{{ $URL | trimSuffix "/twtxt.txt" }}">{{ $Nick }}</a>
                {{ else }}
                  <a href="/external?uri={{ $URL }}&nick={{ $Nick  }}">{{ $Nick }}</a>
                {{ end }}
                (<a href="{{ $URL }}">{{ $URL }}</a>)

                {{ if $.Authenticated }}
                  {{ if not ($.User.Is $URL) }}
                    {{ if $.User.Follows $URL }}
                      [<a href="/unfollow?nick={{ $Nick }}">Unfollow</a>]
                    {{ else }}
                      [<a href="/follow?nick={{ $Nick }}&url={{ $URL }}">Follow</a>]
                    {{ end }}
                  {{ end }}
                {{ end }}
              {{ end }}
            </li>
          {{ end }}
        </oL>
      {{ else }}
        <small>
          {{ if $.User.Is .Profile.URL }}
            You have not followers! Make a twt and it will appear on the
            <a href="/discover">discover</a> for users of {{ .InstanceName }}
            to <a href="/follow">follow</a>.
          {{ else }}
            <b>{{ .Profile.Username }}</b> has no followers!</i>
          {{ end }}
      {{ end }}
    </div>
  </article>
{{ end }}
