{{define "content"}}
  {{ $Msg := $.Messages | first }}
  <article id="{{ $Msg.Id }}" class="h-entry">
    <form id="delete" action="/messages/delete" method="POST">
      <input type="hidden" name="hash" value="{{ $Msg.Id }}">
      <div class="u-author h-card">
        <div>
          <a href="/usr/{{ $Msg.User }}" class="u-url">
            <img class="avatar u-photo" src="/user/{{ $Msg.User }}/avatar" />
          </a>
        </div>
        <div class="author">
          <span class="p-name">{{ $Msg.User }}</span>
          <div class="publish-time">
            <a class="u-url" href="/msg/{{ $Msg.Id }}">
              <time class="dt-published" datetime="{{ $Msg.Sent | date "2006-01-02T15:04:05Z07:00" }}">
                {{ dateInZone ($Msg.Sent | formatForDateTime) $Msg.Sent $.User.DisplayDatesInTimezone }}
              </time>
            </a>
            <span> &nbsp;({{ $Msg.Sent | time }})</span>   
          </div>  
        </div>
      </div>
      <div class="p-summary">
        {{ $Msg.Text | formatTwt }}
      </div>
      <input type="submit" name="delete" value="Delete Message">
    </form>
    <hgroup>
      <h2>Compose Reply</h2>
    </hgroup>
    <form id="compose" action="/messages/send" method="POST">
      <input type="hidden" name="recipient" value="{{ $Msg.User }}">
      <input type="hidden" name="subject" value="{{ $Msg.Subject }}">
      <div class="textarea-container">
        <textarea id="body" name="body" placeholder="Your reply" rows=3 maxlength={{ $.MaxTwtLength }} required></textarea>
      </div>
      <div class="grid">
        <div>
          <button id="send" type="submit">
            <i class="icss-paper-plane"></i>
            Send
          </button>
        </div>
      </div>
    </form>
  </article>
{{ end }}
