{{define "content"}}
  <article class="grid">
    <div>
      <hgroup>
        <h1>Reset Password</h1>
        <h2>Enter your new password</h2>
      </hgroup>
      <form action="/newPassword" method="POST">
        <input type="hidden" name="token" value="{{ .PasswordResetToken }}" /> 
        <input type="password" name="password" placeholder="Password" aria-label="Password" autocomplete="current-password" required>
        <button type="submit" class="contrast">Reset Password</button>
      </form>
    </div>
    <div></div>
  </article>
{{end}}
