{{define "content"}}
  <div class="grid">
    <div>
      <hgroup>
        <h2>
          <img class="avatar" src="/user/{{ .Profile.Username }}/avatar.png" />
          {{  if $.User.Is .Profile.URL }}
          me
          {{ else  }}
            {{ .Profile.Username }}
          {{ end}}
        </h2>
        {{ if not ($.User.Is .Profile.URL) }}
          <h3>
            {{ if $.User.Follows .Profile.URL }}
              <a href="/unfollow?nick={{ .Profile.Username  }}">
                <i class="icss-minus"></i>
                Unfollow
              </a>
            {{ else }}
              <a href="/follow?nick={{ .Profile.Username  }}&url={{ .Profile.URL }}">
                <i class="icss-plus"></i>
                Follow
              </a>
            {{ end }}

            {{ if $.User.OwnsFeed .Profile.Username }}
              | <a href="/feed/{{ .Profile.Username  }}/manage">Manage</a>
            {{ end }}
          </h3>
        {{ end}}
        <footer>
          <p><i>{{ .Profile.Tagline }}</i></p>
          <ul>
            <li><a href="{{ .Profile.URL }}">Twtxt<i class="icss-link"></i></a></li>
            <li><a href="{{ .Profile.URL | trimSuffix "/twtxt.txt" }}/atom.xml">Atom<i class="icss-rss"></i></a></li>
            <li><a href="/user/{{ .Profile.Username }}/followers">Followers: {{ .Profile.Followers | len }}</a></li>
            {{ if eq .Profile.Type "User" }}
              <li><a href="/user/{{ .Profile.Username }}/following">Following: {{ .Profile.Following | len }}</a></li>
            {{ end}}
          </ul>
        </footer>
      </hgroup>
    </div>
  </div>
  <div class="container">
    <hgroup>
      <h2>Recent Twts</h2>
      <footer>Recent twts from {{ .Profile.Username }}</footer>
    </hgroup>
  </div>
  {{ template "posts"  .}}
{{end}}
