{{define "content"}}
  <article class="grid">
    <div>
      <hgroup>
        <h2>Reset Password</h2>
        <p>Use this form to request a password reset for your account</p>
      </hgroup>
      <form action="/resetPassword" method="POST">
        <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
        <input type="text" name="username" placeholder="Username" aria-label="Username" autocomplete="nickname" autofocus required>
        <input type="text" name="email" placeholder="Email address" aria-label="Email" autocomplete="email" required>
        <button type="submit" class="contrast">Reset Password</button>
      </form>
    </div>
    <div>
      <hgroup>
        <h2>How to reset your password</h2>
      </hgroup>
      <p>
        Use the form on the left to recover your account and reset your
        password. Simply fill in the username and email address yo uused
        to create your account.
      </p>
      <p>
        Be aware however that you must supply the same email address
        here that you used to create your account in the first place.
        We <b>DO NOT</b> actually store your email address on file so
        if you do not have access to or have forgotten your email address
        then you will be unable to recover your account.
      </p>
    </div>
  </article>
{{end}}
