{{define "content"}}
  <article class="grid">
    <div>
      <hgroup>
        <h2>Reset Password</h2>
        <footer>Use this form to request a password reset for your account.</footer>
      </hgroup>
      <form action="/resetPassword" method="POST">
        <input type="text" name="username" placeholder="Username" aria-label="Username" autocomplete="nickname" autofocus required>
        <button type="submit" class="contrast">Reset Password</button>
      </form>
    </div>
    <div></div>
  </article>
{{end}}
