{{define "content"}}
  <article class="grid">
    <div>
      <hgroup>
        <h1>Account settings</h1>
        <h2>Update your account settings and password here</h2>
      </hgroup>
      <form action="/settings" enctype="multipart/form-data" method="POST">
        <div class="grid">
          <hgroup>
            <h2>
              <img id="avatar" class="avatar" src="/user/{{ .User.Username }}/avatar.png" />
              <a href="/user/{{ .User.Username }}" data-tooltip="View profile">{{ .User.Username }}</a>
            </h2>
        </div>
        <div class="grid">
          <div>
            <label for="tagline">
              Change avatar
              <input id="avatar_upload" type="file" accept="image/png, image/jpeg" name="avatar_file" aria-label="Upload Avatar" />
            </label>
          </div>
        </div>
        <div class="grid">
          <div>
            <label for="tagline">
              Update tagline:
              <input id="tagline" type="text" name="tagline" placeholder="A short description, catchphrase or slogan about yourself" aria-label="Tagline" value="{{ .User.Tagline }}" />
            </label>
          </div>
          <div>
            <label for="password">
              Change password:
              <input id="password" type="password" name="password" placeholder="Updated password" aria-label="Password" autocomplete="current-password">
            </label>
          </div>
        </div>
        <div class="grid">
          <div>
            <label for="email">
              Change email:
              <input id="email" type="email" name="email" placeholder="Updated email address" aria-label="Email" value="{{ .User.Email }}">
            </label>
          </div>
          <div>
            <label for="isFollowersPubliclyVisible">
              <input id="isFollowersPubliclyVisible" type="checkbox" name="isFollowersPubliclyVisible" aria-label="Show followers publicly" role="switch" {{ if .User.IsFollowersPubliclyVisible }}checked{{ end }}>
              Show my followers publicly
            </label>

            <label for="isFollowingPubliclyVisible">
              <input id="isFollowingPubliclyVisible" type="checkbox" name="isFollowingPubliclyVisible" aria-label="Show user/feed followings publicly" role="switch" {{ if .User.IsFollowingPubliclyVisible }}checked{{ end }}>
              Show users and feed I follow publicly
            </label>
          </div>
        </div>
        <button type="submit" class="primary">Update</button>
      </form>

      <details>
        <summary>Delete account</summary>
        <p>
          <b>WARNING:</b>&nbsp;This is permanent and cannot be undone!
          (<i>There is no confirmation!</i>)
        </p>
        <form action="/delete" method="POST" onsubmit="return confirm('Are you sure you want to delete your account? This cannot be undone!');">
          <button type="submit" class="contrast">Delete</button>
        </form>
      </details>
    </div>
  </article>
{{end}}
