{{define "content"}}
    {{ if .User.Followers }}
        <ol>
            {{ range $Nick, $URL := .User.Followers }}
                <li>
                    {{ if $.User.Is $Nick }}
                        <a href="{{ $URL }}">me</a>
                    {{ else }}
                        <a href="{{ $URL | StripTwtURL }}">{{ $Nick }}</a>
                        (<a href="{{ $URL }}">{{ $URL }}</a>)
                    {{ end }}
                </li>
            {{ end }}
        </oL>
    {{ else }}
        <small><i>No followers found</i></small>
    {{ end }}
{{ end }}
