{{define "content"}}
<article class="grid">
  <div>
    <details>
      <summary>How to create an account?</summary>
      <p>
        To create an account on {{ .InstanceName }} simply navigate to
        <a href="/register">/register</a> assuming the operator of this
        instance has left user registration open. There you need to fill
        in a valid Username and Password and optional Email Address
        (<i>which is only used for passwrod recovery</i>).
      </p>
    </details>
    <details>
      <summary>How do follow someone?</summary>
      <p>
        Following someone in the twtxt community is actually rather hard to do
        becuase of it being decentralised. This means no one company or entity
        controls who posts what, where, why or how on their twtxt feeds.
      </p>
      <p>
        Nevertheless following someone on the same instance ({{ .InstanceName }})
        you are on is easy! Simply <a href="/login">login</a> and navigate to the
        <a href="/discovery">discover</a> page to find <i>public</i> posts of
        users on the same instance. This is a good way to discover new users.
      </p>
    </details>
    <details>
      <summary>How do I format my posts?</summary>
      <p>
        <a href="https://github.com/prologic/twtxt">twtxt</a> and therefore
        this instance ({{ .InstanceName }}) you are on supports what's called
        <a href="https://en.wikipedia.org/wiki/Markdown">Markdown</a>.
        (<i>
          It actually support the full syntax of Markdown really but it is not
          recommended as twtxt posts are limited  to single lines and length.
        </i>)
      </p>
      <p>
        This means you can format your posts in very simple but powerful ways:
        <ul>
          <li>Anything that looks like a link is automatically rendered as a click-able link</li>
          <li>Use <pre>**bold**</pre> or <pre>_italics_</pre> to place emphasis on your parts of your post</li>
          <li>Use <pre>`fixed width`</pre> to render text in fixed-width or another style of emphasis</li>
          <li>Use <pre>[Title](url)</pre> to give your links a nice pretty title</li>
          <li>Use <pre>![](url)</pre> to link to external images which will be rendered inline with your post</li>
        </ul>
      </p>
      <p>
        Of course twtxt is fully Unicode and Emoji capable so  any Emoji you
        can type on your keyboard (<i>such as the special keyboard on your iPhone</i>)
        will also  work nicely 😊
      </p>
    </details>
  </div>
</article>
{{end}}
