{{define "content"}}
  <div class="grid">
    <div>
      <hgroup>
        <h2>
          {{  if $.User.Is .Profile.TwtURL }}
          me
          {{ else  }}
            {{ .Profile.Username }}
          {{ end}}
        </h2>
        {{ if not ($.User.Is .Profile.TwtURL) }}
          <h3>
            {{ if $.User.Follows .Profile.TwtURL }}
              <a href="/unfollow?nick={{ .Profile.Username  }}">
                <i class="icss-minus"></i>
                Unfollow
              </a>
            {{ else }}
              <a href="/follow?nick={{ .Profile.Username  }}&url={{ .Profile.TwtURL }}">
                <i class="icss-plus"></i>
                Follow
              </a>
            {{ end }}
          </h3>
        {{ end}}
        <footer>
          <p><i>{{ .Profile.Tagline }}</i></p>
          <ul>
            <li>TwtURL: <a href="{{ .Profile.TwtURL }}">{{ .Profile.TwtURL }}</a></li>
            <li>Followers: {{ .Profile.Followers | len }}</li>
            <li>Following: {{ .Profile.Following | len }}</li>
          </ul>
        </footer>
      </hgroup>
    </div>
  </div>
  <div class="container">
    <hgroup>
      <h2>Latest Posts</h2>
      <h3>Latest {{ .TweetsPerPage }} posts from {{ .Profile.Username }}</h3>
    </hgroup>
  </div>
  <div class="grid">
    <div>
      {{ range .Tweets }}
        <article id="{{ .Hash }}">
          <hgroup>
            <h2>
              {{ if $.User.Is .Tweeter.TwtURL }}
                <a href="{{ .Tweeter.URL }}">
                  <i class="icss-user"></i>
                  me
                </a>
              {{ else }}
                {{ if $.IsLocal .Tweeter.URL }}
                  <a href="{{ .Tweeter.URL }}">
                    <i class="icss-user-circle"></i>
                {{ else }}
                  <a href="{{ .Tweeter.TwtURL }}">
                    <i class="icss-rss"></i>
                {{ end }}
                {{ .Tweeter.Nick }}
                </a>
              {{ end }}
            </h2>
            <h3>(<a href="#{{ .Hash }}">{{ .Created | Time }}</a>)</h3>
          </hgroup>
          <p>{{ .Text | FormatTweet }}</p>
        </article>
      {{ end }}

      {{ if .Pager.HasPages }}
        <nav>
          <ul>
            <li>
              {{ if .Pager.HasPrev }}
                <a href="/?page={{ .Pager.PrevPage }}">Prev</a>
              {{ else }}
                <a href="#" data-tooltip="No previous page">Prev</a>
              {{ end}}
            </li>
          </ul>
          <ul>
            <li><small>Page {{ $.Pager.Page }}/{{ $.Pager.PageNums }} of {{ $.Pager.Nums }} Tweets</small></li>
          </ul>
          <ul>
            <li>
              {{ if .Pager.HasNext }}
                <a href="/?page={{ .Pager.NextPage }}">Next</a>
              {{ else }}
                <a href="#" data-tooltip="No next page">Next</a>
              {{ end}}
            </li>
          </ul>
        </nav>
      {{ end }}
    </div>
  </div>
{{end}}
