{{define "content"}}
  <article class="grid">
    <div>
      <hgroup>
        <h1>Account settings</h1>
        <h2>Update your account settings and password here</h2>
      </hgroup>
      <form action="/settings" method="POST">
        <div class="grid">
          <div>
            <label for="tagline">
              Update tagline:
              <input id="tagline" type="text" name="tagline" placeholder="A short description, catchphrase or slogan about yourself" aria-label="Tagline" value="{{ .User.Tagline }}" />
            </label>
          </div>
          <div>
            <label for="password">
              Change password:
              <input id="password" type="password" name="password" placeholder="Updated password" aria-label="Password" autocomplete="current-password">
            </label>
          </div>
        </div>
        <div class="grid">
          <label for="isFollowersPubliclyVisible">
              <input id="isFollowersPubliclyVisible" type="checkbox" name="isFollowersPubliclyVisible" aria-label="Show followers to public" role="switch" {{ if .User.IsFollowersPubliclyVisible }}checked{{ end }}>
              Show followers to public
          </label>
        </div>
        <button type="submit" class="primary">Update</button>
      </form>

      <hgroup>
        <h1>Followers</h1>
        <h2>List of users following you</h2>
      </hgroup>
      {{ if .User.Followers }}
        <ol>
          {{ range $Nick, $URL := .User.Followers }}
            <li>
              {{ if $.User.Is $URL }}
                <a href="{{ $.User.URL }}">me</a>
              {{ else }}
                {{ if $.IsLocal $URL }}
                  <a href="{{ $URL | trimSuffix "/twtxt.txt" }}">{{ $Nick }}</a>
                {{ else }}
                  <a href="{{ $URL }}">{{ $Nick }}</a>
                {{ end }}
                (<a href="{{ $URL }}">{{ $URL }}</a>)
                {{ if $.User.Follows $URL }}
                  <a href="/unfollow?nick={{ $Nick }}">
                    <i class="icss-minus"></i>
                    Unfollow
                  </a>
                {{ else }}
                  <a href="/follow?nick={{ $Nick }}&url={{ $URL }}">
                    <i class="icss-plus"></i>
                    Follow
                  </a>
                {{ end }}
              {{ end }}
            </li>
          {{ end }}
        </oL>
      {{ else }}
        <small><i>You have no followers! Try making a post and users might <a href="/discover">/discover</a> you!</i></small>
      {{ end }}

      <hgroup>
        <h1>Following</h1>
        <h2>List of users and feeds you are following</h2>
      </hgroup>
      {{ if .User.Following }}
        <ol>
          {{ range $Nick, $URL := .User.Following }}
            <li>
              {{ if $.User.Is $URL }}
                <a href="{{ $URL }}">me</a>
              {{ else }}
                {{ if $.IsLocal $URL }}
                  <a href="{{ $URL | trimSuffix "/twtxt.txt" }}">{{ $Nick }}</a>
                {{ else }}
                  <a href="{{ $URL }}">{{ $Nick }}</a>
                {{ end }}
                (<a href="{{ $URL }}">{{ $URL }}</a>)
                <a href="/unfollow?nick={{ $Nick }}">
                  <i class="icss-minus"></i>
                </a>
              {{ end }}
            </li>
          {{ end }}
        </oL>
      {{ else }}
        <small><i>You are following zero feeds! Click <a href="/follow">/follow</a> to start following feeds.</i></small>
      {{ end }}

      <hgroup>
        <h1>Delete account</h1>
        <h2>Here you may delete your account.</h2>
      </hgroup>
      <p>
        <b>WARNING:</b>&nbsp;This is permanent and cannot be undone!
        (<i>There is no confirmation!</i>)
      </p>
      <form action="/delete" method="POST" onsubmit="return confirm('Are you sure you want to delete your account? This cannot be undone!');">
        <button type="submit" class="button-red">Delete</button>
      </form>
    </div>
  </article>
{{end}}
