{{define "content"}}
{{ if .Authenticated }}
  <div class="grid">
    <div>
      <form action="/post" method="POST">
        <div class="grid">
          <textarea id="text" name="text" placeholder="What's on your mind?" rows=2 maxlength={{ .MaxTweetLength }} wrap="soft" autofocus required></textarea>
        </div>
        <div class="grid">
          <div></div>
          <div>
            <select id="postas" class="postas" name="postas">
              <option value="me" selected>Post as me</option>
              {{ range $index, $Feed := .User.Feeds }}
                <option value="{{ $Feed }}">{{ $Feed }}</option>
              {{ end }}
            </select>
          </div>
          <div>
            <button type="submit">Post</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{{ end }}
<div class="grid">
  <div>
    {{ range .Tweets }}
      <article id="{{ .Hash }}">
        <hgroup>
          <h2>
            {{ if $.User.Is .Tweeter.TwtURL }}
              <a href="{{ $.User.URL }}">
                <img src="/user/{{ $.User.Username }}/avatar.png" />
                me
              </a>
            {{ else }}
              {{ if $.IsLocal .Tweeter.TwtURL }}
                <a href="{{ .Tweeter.URL }}">
                  <img src="/user/{{ .Tweeter.Nick }}/avatar.png" />
              {{ else }}
                <a href="{{ .Tweeter.TwtURL }}">
                  <i class="icss-rss"></i>
              {{ end }}
              {{ .Tweeter.Nick }}
              </a>
            {{ end }}
          </h2>
          <h3>
            {{ if (and $.Authenticated (not ($.User.Is .Tweeter.TwtURL))) }}
              &nbsp;
              [<a class="reply" href="#" data-reply="@{{ .Tweeter.Nick }} ">Reply</a>]
              &nbsp;
              {{ if $.User.Follows .Tweeter.TwtURL }}
                [<a href="/unfollow?nick={{ .Tweeter.Nick }}">Unfollow</a>]
              {{ else }}
                [<a href="/follow?nick={{ .Tweeter.Nick }}&url={{ .Tweeter.TwtURL }}">Follow</a>]
              {{ end }}
            {{ end }}
          </h3>
          <footer>(<a href="#{{ .Hash }}">{{ .Created | Time }}</a>)</footer>
        </hgroup>
        <p>{{ .Text | FormatTweet }}</p>
      </article>
    {{ end }}

    {{ if .Pager.HasPages }}
      <nav>
        <ul>
          <li>
            {{ if .Pager.HasPrev }}
              <a href="/?page={{ .Pager.PrevPage }}">Prev</a>
            {{ else }}
              <a href="#" data-tooltip="No previous page">Prev</a>
            {{ end}}
          </li>
        </ul>
        <ul>
          <li><small>Page {{ $.Pager.Page }}/{{ $.Pager.PageNums }} of {{ $.Pager.Nums }} Tweets</small></li>
        </ul>
        <ul>
          <li>
            {{ if .Pager.HasNext }}
              <a href="/?page={{ .Pager.NextPage }}">Next</a>
            {{ else }}
              <a href="#" data-tooltip="No next page">Next</a>
            {{ end}}
          </li>
        </ul>
      </nav>
    {{ end }}
  </div>
</div>
{{end}}
